backend/node_modules/
ionic4j/node_modules/
launch.sh
backend/target/
.idea/workspace.xml
.idea/modules.xml
.idea/EasyFlight.iml
.idea/vcs.xml
ionic4j/www/build/**
ionic4j/.sourcemaps/**
ionic4j/www/build/6.js
ionic4j/plugins/**
ionic4j/platforms/**