<div>
    <h2>
        <span jhiTranslate="backendApp.aerodrome.home.title">Aerodromes</span>
        <button class="btn btn-primary float-right jh-create-entity create-aerodrome" [routerLink]="['/', { outlets: { popup: ['aerodrome-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="backendApp.aerodrome.home.createLabel">
            Create new Aerodrome
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'backendApp.aerodrome.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="aerodromes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="backendApp.aerodrome.oaci">Oaci</span></th>
            <th><span jhiTranslate="backendApp.aerodrome.nomAerodrome">Nom Aerodrome</span></th>
            <th><span jhiTranslate="backendApp.aerodrome.controle">Controle</span></th>
            <th><span jhiTranslate="backendApp.aerodrome.frequenceSol">Frequence Sol</span></th>
            <th><span jhiTranslate="backendApp.aerodrome.frequenceTour">Frequence Tour</span></th>
            <th><span jhiTranslate="backendApp.aerodrome.atis">Atis</span></th>
            <th><span jhiTranslate="backendApp.aerodrome.altitude">Altitude</span></th>
            <th><span jhiTranslate="backendApp.aerodrome.piste">Piste</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aerodrome of aerodromes ;trackBy: trackId">
                <td><a [routerLink]="['../aerodrome', aerodrome.id ]">{{aerodrome.id}}</a></td>
                <td>{{aerodrome.oaci}}</td>
                <td>{{aerodrome.nomAerodrome}}</td>
                <td>{{aerodrome.controle}}</td>
                <td>{{aerodrome.frequenceSol}}</td>
                <td>{{aerodrome.frequenceTour}}</td>
                <td>{{aerodrome.atis}}</td>
                <td>{{aerodrome.altitude}}</td>
                <td>
                    <div *ngIf="aerodrome.piste">
                        <a [routerLink]="['../piste', aerodrome.piste?.id ]" >{{aerodrome.piste?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../aerodrome', aerodrome.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'aerodrome/'+ aerodrome.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'aerodrome/'+ aerodrome.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
