<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPisteLabel" jhiTranslate="backendApp.piste.home.createOrEditLabel">Create or edit a Piste</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!piste.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="piste.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.piste.longueur" for="field_longueur">Longueur</label>
            <input type="number" class="form-control" name="longueur" id="field_longueur"
                [(ngModel)]="piste.longueur" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.piste.typeTerrain" for="field_typeTerrain">Type Terrain</label>
            <input type="text" class="form-control" name="typeTerrain" id="field_typeTerrain"
                [(ngModel)]="piste.typeTerrain" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
