
<div *ngIf="piste">
    <h2><span jhiTranslate="backendApp.piste.detail.title">Piste</span> {{piste.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backendApp.piste.longueur">Longueur</span></dt>
        <dd>
            <span>{{piste.longueur}}</span>
        </dd>
        <dt><span jhiTranslate="backendApp.piste.typeTerrain">Type Terrain</span></dt>
        <dd>
            <span>{{piste.typeTerrain}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'piste/'+ piste.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
