<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myReservoirLabel" jhiTranslate="backendApp.reservoir.home.createOrEditLabel">Create or edit a Reservoir</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!reservoir.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="reservoir.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.reservoir.quantiteMax" for="field_quantiteMax">Quantite Max</label>
            <input type="number" class="form-control" name="quantiteMax" id="field_quantiteMax"
                [(ngModel)]="reservoir.quantiteMax" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.reservoir.quantitePresente" for="field_quantitePresente">Quantite Presente</label>
            <input type="number" class="form-control" name="quantitePresente" id="field_quantitePresente"
                [(ngModel)]="reservoir.quantitePresente" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.reservoir.capaciteMaxUtile" for="field_capaciteMaxUtile">Capacite Max Utile</label>
            <input type="number" class="form-control" name="capaciteMaxUtile" id="field_capaciteMaxUtile"
                [(ngModel)]="reservoir.capaciteMaxUtile" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.reservoir.levier" for="field_levier">Levier</label>
            <input type="number" class="form-control" name="levier" id="field_levier"
                [(ngModel)]="reservoir.levier" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backendApp.reservoir.carburant" for="field_carburant">Carburant</label>
            <select class="form-control" id="field_carburant" name="carburant" [(ngModel)]="reservoir.carburant" >
                <option [ngValue]="null"></option>
                <option [ngValue]="carburantOption.id === reservoir.carburant?.id ? reservoir.carburant : carburantOption" *ngFor="let carburantOption of carburants; trackBy: trackCarburantById">{{carburantOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
